#sidebar
  = haml :categories, :layout => false

  %h2 Class in Progress
  :markdown
    The first class was on Tuesday, 24 July in person and Saturday, 28th July
    in a [Google+ Hangout][g+]. Due to [user failure][blog], the first class
    was not recorded, but check back here for future classes.

      [g+]:  https://plus.google.com/events/c0qq6d73ce1nh3d585luesi4u48/116304888720297945791
      [blog]: http://chadoh.com/thoughts/remember-to-press-record
