#sidebar
  = haml :categories, :layout => false

  %h2 Come to the First Class!
  :markdown
    The first class will be _this coming Tuesday_, the 24th, at 7pm. We will
    meet in the bar at [The Westside building][map].  We'll also try to
    broadcast on a live [Google+ hangout][g+], if you can't make it.

      [map]: http://goo.gl/maps/xDD8 "Click for a map!"
      [g+]:  https://plus.google.com/hangouts
