#sidebar
  = haml :categories, :layout => false

  %h2 Sign Up
  :markdown
    We're currently figuring out the schedule. If you're interested in
    attending, I urge you to [please fill out the Doodle][doodle]!

      [doodle]: http://www.doodle.com/e4qxavd99k6p7d8z
