Layout: Slides

%section
  %h1 A Non-Nerd's Guide To The Command Line
  %img(src="http://blog.marc-seeger.de/assets/2009/12/30/terminal.png" alt="")

%section
  %section
    %h2 A Rich Heritage
    :markdown
      [Unix][unix] was invented in 1969. Mac OSX and Linux are still based on
      it. When you use the command line, you're using your computer the way
      people used computers decades before colorful screens and the mouse were
      in use.

        [unix]: https://en.wikipedia.org/wiki/Unix

  %section
    %h2 Shell
    :markdown
      Bash. Blah blah blah. TBC.
