Layout: slides

%section
  %section
    %h3 A Non-Nerd's Guide To
    %h1 The Command Line
    %img(src='http://blog.marc-seeger.de/assets/2009/12/30/terminal.png'
         alt='' class='no-border')
    :markdown

      To jump right in and start using it, go that way. &rarr;

      &darr; Or go this way to get some context.

  %section
    %h2 1969
    :markdown
      The year [Unix][unix] was invented. It's still one of the most-used
      operating systems in the world (just think: all of Google's servers use
      it).  Mac OSX and Linux are based on it. When you use the command line,
      you're using your computer the way people used computers decades before
      colorful screens and the mouse were in use.

        [unix]: https://en.wikipedia.org/wiki/Unix

  %section
    %h2 Shell
    :markdown
      The [Bourne Shell][sh] (abbreviated as simply _sh_) was created as a way
      to interact with Unix in 1977.  Lots of other shells were invented later
      that added more features.  You may have noticed that your Terminal says
      something about "bash"&mdash; bash is the [Bourne-again shell][bash] and
      was first created in 1989. A lot of cool kids these days use [zsh][zsh]
      (z shell), if you care about what the cool kids do.

        [sh]: http://www-stat.wharton.upenn.edu/~buja/STAT-540/shell-Bourne-An-Introduction-to-the-Unix-Shell.htm
        [bash]: https://en.wikipedia.org/wiki/Bash_(Unix_shell)
        [zsh]: https://friedcpu.wordpress.com/2007/07/24/zsh-the-last-shell-youll-ever-need/

  %section
    %h2 So what?
    :markdown
      So why do people still use it?

      Because it's _easy_.

      That is, it's hard to write programs that use graphics. Writing programs
      that run in a shell, though, is easy as escargot. So, there are all kinds
      of things that you can only do using shell.

      Getting started in it is a bit strange, admittedly, but it opens up whole
      new worlds (it _is_ a whole new world). Don't get overwhelmed, just take
      it slow. Any familiarity will be great, so if it starts feeling
      overwhelming, just stop for the day.

%section
  %section
    %h2 Ingredients
    %h3 On a Mac
    :markdown
      * Hit Command & Space and type "Terminal". Open it. This is your "command
        line".
      * Open up Finder (you can do the Command-Space thing again).
    %h3 On Windows
    :markdown
      * Open up [Git-Bash][gitbash]. This is your "command line".
      * Open your My Documents folder (or whatever it's called these days).

        [gitbash]: http://git-scm.com/download/win

