Summary: Stop using anchor tags to navigate your FAQ and use slideToggle! Better yet, use both!

%h1 Week 3: Clapping bells and blowing whistles; your brochure gets interactive (and also starts dolling up for even the senior-citizen browsers)

:markdown
  topics: javascript, jQuery, Mondernizr, who made up html anyhow?

  Outline
  -------

  * [codeacadamy.com][code] for 10m GO!
  * JavaScript console in Chrome
  * Fancy up the FAQ with jQuery
  * _Check it into Git!_
  * Checking our website in an old browser
  * Discuss where standards come from
  * Add in [Modernizr][mdrn]
  * _Check it into Git!_

  Assignment
  ----------

  * Enter `ruby -v` on your command line. If you don't get an error message, congrats! Otherwise, [install Ruby][inst]. We'll need it next week.
  * Continue [codeacadamy][code] (and try out some of the examples on your own web page!)
  * Do a simple [jQuery tutorial][tut]
  * Continue [tryruby.org][ruby]

  Blogs
  -----

  Now that you've learned a bit about who makes the rules, you may want to keep up with the evolving standards of HTML and CSS.

  * [HTML5Doctor][5dr]
  * [CSS3.info][css3]

  Also, you can do super pretty stuff with just CSS3 (no need for that many images). For example:

  * [CSS3 Buttons][btns]

    [inst]: http://ruby.about.com/od/beginningruby/a/installhub.htm
    [code]: http://www.codecademy.com/
    [mdrn]: http://modernizr.com/
    [tut]:  http://docs.jquery.com/Tutorials:How_jQuery_Works
    [ruby]: http://tryruby.org/
    [5dr]:  http://html5doctor.com/
    [css3]: http://www.css3.info/
    [btns]: http://hellohappy.org/css3-buttons/

