Summary: We’ll stand on the shoulders of The Pacific Northwest Tree Octopus and make and publish our very own spoof site.

%h1 Week 2: Let's fill the web with lies! Your first website (is just a brochure)

:markdown
  topics: html, css, a teensy bit of command-line, git

  Outline
  -------

  * Download [Git][git] & [a Git GUI][gitx]
  * [tryruby.org][ruby] for 10m GO!
  * workin' with [someone else's HTML][zip] w00t!
  * _By the way command line & git whaaaat_
  * Don't worry, now we're doing CSS which you've already seen a little bit.
  * _A little more command line & git!!_
  

  Assignment
  ----------

  * Get your website to a decent place but _puh-lease_ don't be a perfectionist
  * Here's a command line reference so you can start feeling more comfortable getting around your computer the old-school way
  * Continue with [tryruby.org][ruby] if you feel like it (we'll be using it more starting Week 4)

  Blogs
  -----

  There are SO MANY blogs that talk about good HTML & CSS practices. Here are a couple:

  * [A List Apart][list]
  * [CSS Tricks][trck]

  There are also a lot of websites to just inspire your own HTML & CSS designs:

  * [web creme][crem]
  * [CSS Zen Garden][zen]

 
    [git]:  http://git-scm.com/
    [gitx]: http://git-scm.com/downloads/guis
    [ruby]: http://tryruby.org/
    [zip]:  http://hellointerweb.com/yell-at-chad-because-this-doesnt-exist-yet
    [list]: http://www.alistapart.com/
    [trck]: http://css-tricks.com/
    [smsh]: http://www.smashingmagazine.com/
    [crem]: http://webcreme.com/
    [zen]:  http://www.csszengarden.com/
