Summary: You may star as the main character in this one-act play, but you’ll certainly get to help build a Rube Goldberg machine!

%h1 Week 1: In which we meet a heroic browser, a thoughtful server, and a large &amp; mysterious stack of documents

:markdown
  topics: browser, DNS, servers, how markup becomes a webpage,
  AJAX, GET vs POST (HTTP!), hash tags, & webkit's inspector
  (now go forth and explore!)

  Outline
  -------

  * Check out [the Pacific Northwest Tree Octopus][octo]!
  * Download [a text editor][edit]
  * Perform in a play
  * Build a machine
  * Meeting our editor

  Assignment
  ----------

  * Come up with a creature
  * Go through the beginner tutorials on [HTMLdog][dog]

    [octo]: http://zapatopi.net/treeoctopus/
    [dog]:  http://htmldog.com/guides/htmlbeginner/
    [edit]: http://www.sublimetext.com/2

