Layout: slides
Link text: In Summary: In which we enjoy the view from the vista we've climbed to, and get our bearings so we can explore on our own

%section
  %section
    %h1 In Summary
    %h3
      In which we enjoy the view from the vista we've climbed to, and get our
      bearings so we can explore on our own
