Link text: Home

:markdown
  This is a course to teach you web development.  
  Yes, _you_.  
  You may think you're no good at technical things.  
  You may feel more comfortable painting,  
  or correcting grammar,  
  or teaching preschoolers to sing.  
  You may think you have no website ideas,  
  that everything worth making is being done by someone else,  
  that this global conversation doesn't really need your voice.  
  But.  
  This course will show you that web development  
  can be as just as fun as  
  (and complementary to)  
  those other things.  
  (Learning it can be that fun, too.)  
  And also,  
  [I][chadoh] don't believe you.  
  You _do_ have good ideas.  
  And [I][chadoh] want to hear your voice.  

  This is a five-week course.  
  It goes very fast.  
  It paints with broad strokes,  
  empowering and enabling you  
  to go explore on your own.

  <span class='check-it-out'>
  Check out the slides for each class</span>

    [chadoh]: http://twitter.com/chadoh

%section.articles= article_summaries(latest_articles)
