Summary: Maybe when you learned about HTML forms you were like _what the?_ This is what forms are for.

%h1 Week 5: Oh Postgres Day; Callooh, Callay. We've officially transcended the brochure.

:markdown
  topics: html forms, GET v. POST, databases, PostgreSQL

  Outline
  -------

  * Install PostgreSQL
  * Hook it up to your app
  * Restructure the Sightings page so that it pulls from the db
  * Make a "Record a sighting!" page where users can post their own sighting
  * Add tests for this page
  * Push to Heroku!

  Assignment, or, Where to from here?
  -----------------------------------

  Good tutorial books & websites are always coming out,
  so be on the lookout. Here are some ideas of where to go
  next:

  * [Agile Web Development with Rails][rls]
  * [Learn Python the Hard Way][pyth] (because the hard way is easier!)
  * [The Bastard's Book of Ruby][bast]
  * [Rails for Zombies][zomb]
  * [Seven Databases in Seven Weeks][dbs]
  * [Seven Languages in Seven Weeks][lang]
  * [Bloc][bloc] (an eight-week paid course)

  After & during those, you may also want to follow these publications:

  * [Railscasts][csts]
  * [Destroy All Software][dest] (because no code is better than _no_ code)
  * [Practicing Ruby][prac]

    [mngo]: http://www.mongodb.org/
    [rls]:  http://pragprog.com/book/rails4/agile-web-development-with-rails
    [pyth]: http://learnpythonthehardway.org/
    [bast]: http://ruby.bastardsbook.com/
    [zomb]: http://railsforzombies.org/
    [dbs]:  http://pragprog.com/book/rwdata/seven-databases-in-seven-weeks
    [lang]: http://pragprog.com/book/btlang/seven-languages-in-seven-weeks
    [bloc]: http://www.bloc.io/
    [csts]: http://railscasts.com/
    [dest]: https://www.destroyallsoftware.com/screencasts
    [prac]: http://practicingruby.com/
