Summary: What's a server good for, anyhow?

%h1 Week 4: I'm so sick of repeating myself! Sinatra takes us on a magical trip to the server.

:markdown
  topics: [Sinatra][sntr], erb, [Heroku][hrku], [Github][gthb]

  Outline
  -------

  * Check it: enter `irb` on your command line. Looks familiar, dunt it?
  * Singing with [Sinatra][sntr]
  * Pushing to [Heroku][hrku]
  * Viewing our site _on the Interweb how freaking cool is that??_
  * And it's all been free so far!!
  * Setting up & pushing to [Github][gthb]

  Assignment
  ----------

  * Explore. Github, Sinatra, Ruby, the command line, JavaScript, CSS, whatever. You've learned a lot. Review something you're feeling a little shaky on.

    [sntr]: http://www.sinatrarb.com/intro
    [hrku]: http://www.heroku.com/
    [gthb]: https://github.com/
