Layout: slides

%section
  %h1 Week 1
  %h3
    In which we meet a heroic browser,
    a thoughtful server, and a large &amp;
    mysterious stack of documents

%section
  %section
    %h2 A Word Of Caution
    %blockquote(cite="http://cl.ly/HG09")
      Relax and give the play a chance to strut its stuff&ndash;
      relax, stop wondering what it is all 'about'—
      %br
      %br
      like many strange and familiar things, Life included,
      this play isn't "about," it simply is.
      %br
      %br
      Don't try to enjoy it, let it try to enjoy you.
      Don't try to understand it, let it try to understand you.
  %section
    %p
      Don't get all distracted with needing to know every detail of
      everything we'll look at. No one knows all the details. You don't
      need to know binary. You don't even have to know how all of this
      is somehow binary underneath, just like an artist doesn't need to
      know the chemical compositions of her paints and canvas. Don't get
      distracted by asking too many questions, just soak. Learn like a
      baby. Immerse. Look around. Play.

%section
  %h2 Some things you'll need to get started
  %a(href='http://google.com/chrome')
    %img(src='http://upload.wikimedia.org/wikipedia/en/thumb/f/fa/Google_Chrome_2011_computer_icon.svg/256px-Google_Chrome_2011_computer_icon.svg.png' alt='Google Chrome')
  %a(href='http://www.sublimetext.com/2')
    %img(src='http://c758482.r82.cf2.rackcdn.com/sublime_text_icon_2181.png' alt='Sublime Text 2')

%section
  %h2 Check it out!
  %a(href='http://zapatopi.net/treeoctopus/' data-popup)
    %img(src='http://zapatopi.net/treeoctopus/title_text.png'
         alt='Hely Save The ENDANGERED Pacific Northwest Tree Octopus from EXTINCTION!')

%section
  %section
    %h2 A Play
    :markdown
      We're going to learn about important web concepts by acting in a
      play!

      Here's [the script](https://docs.google.com/document/d/15ec69ldW8zr1NbUONjdZCdBVqUcQV4nTpgPnZJxG0aw/edit).

  %section
    %h2 The Cast
    %p In order of appearance
    :markdown
      * Browser (our hero; a talented artist who needs good instructions)
      * Browser's friend (has good ideas for Browser)
      * Computer (Browser's landlord)
      * Router (A lazy grouch! Computer's secretary.)
      * Name Server 1 (claims to know some things)
      * Name Server 2 (Knows Server's digits)
      * Server (has art instructions for Browser)
