Layout: Slides
Link text: Week 2: Let's fill the web with lies! Your first website (is just a brochure)

%section
  %section
    %h1 Week 2
    %h3
      Let's fill the web with lies! Your first website (is just a brochure)

  %section
    %h3 Summary
    %p
      We’ll stand on the shoulders of The Pacific Northwest Tree Octopus and
      make and publish our very own spoof site.

  %section
    %h3 Topics
    %p
      html, css, a teensy bit of ruby, a teensy bit of shell, git

%section.something-hidden
  %h2 Try Ruby!
  %a(href='http://tryruby.org')
    %img(src='http://mislav.uniqpath.com/poignant-guide/images/about.the.poignant.guide-1.gif'
    alt='tryruby.org')
  :markdown
    <small>(That's a link!)</small>

    We'll be using this more in class 4, but there are good concepts that will
    help you with some things today &amp; next week, also.

%section
  %section
    %h2 Ok now back to HTML!
    %p
      Save &amp; unzip this.
    %p
      %a(href="https://github.com/downloads/chadoh/tree-octopus/tree-octopus.zip")
        %img(src="http://f.cl.ly/items/2C2a2U260x1W1s3c172I/tree%20octopus.png"
             alt='tree-octopus.zip')
    %p
      Then right-click "index.html" and open it with Sublime. Also open it with
      Chrome.
  %section
    %h2 Good artists borrow&hellip;
    :markdown
      Customize this HTML! Use what you've learned from [HTMLdog][dog] and fill
      this structure with info about your own fanciful creature.

        [dog]: http://htmldog.com/

%section
  %section
    %h2 Commit yr changes!
    :markdown
      <small>(This won't make sense yet; just follow along; we'll come back & make sense of it later.)</small>

      ![image of a terminal](http://blog.marc-seeger.de/assets/2009/12/30/terminal.png)

      If you're on windows, open up Git-Bash; on anything else, open up Terminal.

  %section
    %h2 Like typing commands on tryruby.org
    :markdown
      Except instead of executing Ruby code, you'll be executing _shell script_.

      I know that sounds crazy but don't worry!

      <small>This is how computers used to work, before Apple popularized
      [graphics][gui].</small>

        [gui]: https://en.wikipedia.org/wiki/Graphical_user_interface

      Just type each of these lines (don't copy & paste; you'll learn better!),
      hitting "enter" after each:

          $ cd Code/tree-octopus # Make this the folder that you saved your project to!
          $ git init
          $ git add .
          $ git commit -m "First commit"

%section
  %h2 Great Artists Steal
  :markdown
    Hold your Alt key (Command key on a mac) and press Tab to switch back to
    Sublime. We'll come back to that git/shell/committing stuff and make sense
    of it in a little bit.

    For now, let's start customizing your CSS.

    <small>Pro Tip: Google maintains a [list of free fonts][font] you can
    use on your website!</small>

      [font]: http://www.google.com/webfonts
