Layout: slides
Link text: Week 1: In which we meet a heroic browser, a thoughtful server, and a large &amp; mysterious stack of documents

%section
  %section
    %h1 Week 1
    %h3
      In which we meet a heroic browser,
      a thoughtful server, and a large &amp;
      mysterious stack of documents
  %section
    %h2 Summary
    %p
      You may star as the main character in this one-act play, and you’ll
      certainly get to make a craft!

  %section
    %h2 Topics
    %p
      browser, DNS, servers, how markup becomes a webpage, &amp;
      webkit's inspector

%section
  %section.something-hidden
    %h2 A Word Of Caution
    %blockquote(cite="http://cl.ly/HG09")
      Relax and give the play a chance to strut its stuff&ndash;
      relax, stop wondering what it is all 'about'—
      %br
      %br
      like many strange and familiar things, Life included,
      this play isn't "about," it simply is.
      %br
      %br
      Don't try to enjoy it, let it try to enjoy you.
      Don't try to understand it, let it try to understand you.
  %section
    %p
      Don't get all distracted with needing to know every detail of
      everything we'll look at. No one knows all the details. You don't
      need to know binary. You don't even have to know how all of this
      is somehow binary underneath, just like an artist doesn't need to
      know the chemical compositions of her paints and canvas. Don't get
      distracted by asking too many questions, just soak. Learn like a
      baby. Immerse. Look around. Play.

%section
  %h2 Some things you'll need to get started
  %a(href='http://google.com/chrome')
    %img(src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Google_Chrome_icon_%282011%29.svg/300px-Google_Chrome_icon_%282011%29.svg.png' alt='Google Chrome' style="width:224px;padding:16px")
  %a(href='http://www.sublimetext.com/2')
    %img(src='http://c758482.r82.cf2.rackcdn.com/sublime_text_icon_2181.png' alt='Sublime Text 2')

%section
  %section
    %h2 Check it out!
    %a(href='http://chadoh.github.com/tree-octopus/')
      %img(src='http://f.cl.ly/items/2C2a2U260x1W1s3c172I/tree%20octopus.png'
           alt='Hely Save The ENDANGERED Pacific Northwest Tree Octopus from EXTINCTION!')
  %section
    %h2 You're going to make your own site like this.
    %p But with an animal that you make up.

%section
  %section
    %h2 A Play
    :markdown
      We're going to learn about important web concepts by acting in a
      play!

  %section
    %h2 The Cast
    %p In order of appearance
    :markdown
      * Browser (our hero; a talented artist who needs good instructions)
      * Browser's friend (has good ideas for Browser)
      * Computer (Browser's landlord)
      * Router (A lazy grouch! Computer's secretary)
      * Name Server 1 (claims to know some things)
      * Name Server 2 (knows Server's digits)
      * Server (has art instructions for Browser)

  %section
    %h2 The Script
    :markdown

      [Get it here](/the-script)

%section
  %section
    %h2 Craft Time!
    :markdown
      So just what did Friend request? Let's build it and find out!

      <small>(Here are [all the documents][crft], if you're not physically at the class.)</small>

        [crft]: /a-craft.html

  %section
    %h2 Summary
    :markdown
      ### HTML

      Speficies the architectural elements needed (a frame, fabric, etc)

      ### CSS

      Says how to arrange the HTML (how big to cut the fabric, how to attach it
      to the frame, etc)

      ### JavaScript

      Says how the page behaves ("when a user clicks this, do such-and-such")

%section
  %section
    %h2 Enough Metaphor; Some Real HTML
    %a(href='http://www.htmldog.com/guides/htmlbeginner/')
      %img(src="http://www.htmldog.com/badge1.gif" alt="HTML and CSS tutorials, references, and articles")
  %section
    %h2 Text Editor What What?
    :markdown
      Sublime Text 2, that you downloaded at the beginning, is your
      **text editor**.  When HTMLdog says stuff about Notepad,
      just use Sublime instead.

      <small>It's **soooo much better** than Notepad!</small>

  %section
    %h2 Oh, &amp; yes, Sublime costs money
    :markdown
      That is, it will prompt for you to buy a full copy every 10
      saves or so. It's kind of expensive, and there are free
      alternatives (they're just usually not as pretty), so you
      need not feel bad for taking it for a long test drive.
      You should probably try some of the free alternatives before
      you spring to buy it.

%section
  %section
    %h2 Rummaging through someone else's HTML
    :markdown
      In Chrome (you are using Chrome for this presentation, aren't you?)
      right-click this word and select "Inspect Element" from
      the context menu.

  %section
    %h2 The text is in a &lt;p&gt; tag!
    :markdown
      You'll learn what that means as you go through HTMLdog. You can do
      this on any website. You can even right-click elements in the
      Inspector and _edit_ them! Try it now! Make the previous heading say
      "Rummaging through someone else's _markup_". Don't
      worry, you won't mess up the site.  Just refresh the page &amp; it
      will be as good as new.  Can you figure out why? (Think about the
      play we did.)

%section
  %h2 Things to play with before next week
  :markdown
    * Come up with your own made-up creature! Come up with some fun
      details. (Where does it live? How do you catch one?  Can it be
      domesticated? What's it's favorite food? What do you call a group of
      them?) If you're so inclined, you could even draw a picture of it &
      save it to your computer!
    * Finish the [HTML Beginner][dogh] & [CSS
      Beginner][dogc] tutorials on [HTMLdog][dog]. You can keep going to
      the intermediate & expert ones, too, if you want!
    * Download [Git][git] and a [Git GUI][gitx] (GitX is a nice one).
      (Don't worry about understanding this yet!)

      [dog]:  http://htmldog.com/
      [dogh]: http://htmldog.com/guides/htmlbeginner/
      [dogc]: http://htmldog.com/guides/cssbeginner/
      [git]:  http://git-scm.com/
      [gitx]: http://git-scm.com/downloads/guis
