Layout: Slides
Link text: Week 2: Let's fill the web with lies! Your first website (is just a brochure)

%section
  %section
    %h1 Week 2
    %h3
      Let's fill the web with lies! Your first website (is just a brochure)

  %section
    %h3 Summary
    %p
      We’ll stand on the shoulders of The Pacific Northwest Tree Octopus and
      make and publish our very own spoof site.

  %section
    %h3 Topics
    %p
      html, css, a teensy bit of ruby, a teensy bit of shell, git

%section.something-hidden
  %h2 Try Ruby!
  %a(href='http://tryruby.org')
    %img(src='http://mislav.uniqpath.com/poignant-guide/images/about.the.poignant.guide-1.gif'
    alt='tryruby.org')
  :markdown
    <small>(That's a link!)</small>

    We'll be using this more in class 4, but there are good concepts that will
    help you with some things today &amp; next week, also.

%section
  %section
    %h2 Ok now back to HTML!
    %p
      Save &amp; unzip this.
    %p
      %a(href="https://github.com/downloads/chadoh/tree-octopus/tree-octopus.zip")
        %img(src="http://f.cl.ly/items/2C2a2U260x1W1s3c172I/tree%20octopus.png"
             alt='tree-octopus.zip')
    %p
      Then right-click "index.html" and open it with Sublime. Also open it with
      Chrome.
  %section
    %h2 Good artists borrow&hellip;
    :markdown
      Customize this HTML! Use what you've learned from [HTMLdog][dog] and fill
      this structure with info about your own fanciful creature.

        [dog]: http://htmldog.com/
